<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liujun.mybatis.dao.StudentDaoImpl">

    <select id="selectById" parameterType="int" resultType="Student">
        SELECT *
        FROM t_student
        WHERE id = #{id}
    </select>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_student (id, name, age) VALUES
        <foreach collection="list" item="stu" separator=",">
            (#{stu.id}, #{stu.name}, #{stu.age})
        </foreach>
    </insert>

    <insert id="insert" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_student (id, name, age) VALUES
        (#{id}, #{name}, #{age})
    </insert>

    <select id="selectMap" parameterType="int" resultType="map">
        SELECT id, name FROM t_student WHERE id = #{id}
    </select>

    <select id="selectByNameAndAge" resultType="Student">
        SELECT * FROM t_student WHERE name = #{0} and age = #{1}
    </select>
</mapper>